.header {
     height: 100px; 
}

@media (min-width: 768px) {
  .header .navbar-brand {
    /*width: 214px;*/   /*changed to fit ff logo at 367x100*/
    width: 300px;       /* was 367*/
  }
}

.navbar-default {
  height: 100px; /* added for ff logo*/
}

.navbar-collapse {
    height: 100px;
}

.ffCarouselImg img {
    width: auto;
    height: auto; 
}

table.dataTable tbody tr.wireSelected {
  background-color: #b0bed9;
}

.wireSelected {
  background-color: #b0bed9;
}

.FF-left {
    text-align: left;
}

.FF-right {
    text-align: right;
}

.FF-center {
    text-align: center;
}